// 这是连线的点相对于topo-node-header的偏移量，不算 2px 的边框的
$topoNodeHeaderHeight: 28px;
$topoNodeHeaderWidth: 240px;
$pivotWidth: 4px;
$pivotOffsetY: ($topoNodeHeaderHeight - $pivotWidth) / 2;
$pivotOffsetXSmall: 10px;
$pivotOffsetXLarge: $topoNodeHeaderWidth - $pivotOffsetXSmall - $pivotWidth;

.topo-node {
  position: absolute;
  width: $topoNodeHeaderWidth + 4px;// 加边框

  border: 2px solid #353535; 
  border-radius: 6px;
  background-color: #4c4c4c;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  &.active {
    border-color: black;
    box-shadow: 0 0 0 6px #4892db;
  }
  &.service {
    .topo-node-header {
      background-color: #a330ec;
    }
    .topo-node-body {
      background-color: #9026d4;
    }
  }
  &.storage {
    .topo-node-header {
      background-color: #128bf1;
    }
    .topo-node-body {
      background-color: #128bf1;
    }
  }
}

.topo-node-header {
  position: relative;
	height: $topoNodeHeaderHeight;
  line-height: 28px;
  font-size: 14px;
  color: white;
  text-align: center;
	background-color: #585858;
  .pivot {
    position: absolute;
    top: $pivotOffsetY;
    height: $pivotWidth;
    width: $pivotWidth;
    border-radius: $pivotWidth / 2;
    background: white;
    &.left {
      left: $pivotOffsetXSmall;
    }
    &.right {
      right: $pivotOffsetXSmall;
    }
  }
}

.topo-node-body {
  padding: 4px 10px;
  .line {
    display: block;
    height: 20px;
    line-height: 20px;

    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    .label {
      opacity: 0.95;
    }
    .content {
      opacity: 0.7;
    }
  }
}